<h1>ユーザー一覧</h1>
<table border="1" width="500" cellspacing="0" cellpadding="5" >
        <tr>
        <th>ユーザーID</th>
        <th>ユーザー名</th>
        <th>ロック</th>
        <th>ロック日時</th>
        </tr>

<% @users.each do |user| %>
    <tr>
    <td align = "center"><%= user.id %></td>
    <td align = "center"><%= user.email %></td>
    <td align = "center">
        <% if  %>
            
        <% end %>
        </td>
    <td align = "center"><%= user.locked_at %></td>
    </tr>
<% end %>
    
</table>